<!DOCTYPE html>
<html lang="es">
    <head>
        {% load staticfiles %}
        <meta charset="UTF-8">
        <title>{% block title %} {% endblock %}</title>
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
    </head>
    <body>
        <header>Header</header>
        <section>
            {% block content %} {% endblock %}
        </section>
        <footer>
            Footer
        </footer>
    </body>
</html>
