{% extends 'base.html' %}

{% block title %}
    Productos
{% endblock %}

{% block content %}
    <a href="{% url 'products.views.new_product' %}">New product</a>
    <ul>
        {% for pr in product %}
            <li>
                <img src="{{ pr.image.url }}" alt="{{ pr.name }}" />
                <h3><a href="{% url 'products.views.product' pk=pr.pk %}">{{ pr.name }}</a></h3>
                <p>{{ pr.description }}</p>
                
            </li>
        {% endfor %}
    </ul>
{% endblock %}