{% extends 'base.html' %}

{% block title %}
    Hello {% if user.is_authenticated %} {{user.username}} {% endif %}
{% endblock %}

{% block content %}
    <h1>Hello {% if user.is_authenticated %} {{user.username}} {% endif %}</h1>
    {% if user.is_authenticated %}
        <a href="{% url "login:logout" %}">Log out</a>
    {% endif %}

{% endblock %}