{% extends 'base.html' %}

{% block title %}
    Sing in | Sing up
{% endblock %}

{% block content %}
    <h1>Sing in</h1>
    <form action="" method="post">
        {% csrf_token %}
        <label for="username">Username</label>
        <input type="text" name="username">
        <label for="password">Password</label>
        <input type="password" name="password">
        <input type="hidden" name="action" value="sign-in">
        <button type="submit">Sign in</button>
    </form>

    <h2>Sign up</h2>
    <form action="" method="post">
        {% csrf_token %}
        <label for="username">Username</label>
        <input type="text" name="username">
        <label for="password">Password</label>
        <input type="password" name="password">
        <input type="hidden" name="action" value="sign-up">
        <button type="submit">Sign up</button>
    </form>
{% endblock %}