{% extends 'base.html' %}

{% block title %}
    {{ product.name }}
{% endblock %}

{% block content %}
    <img src="{{ product.image.url }}" alt="{{ product.name }}" />
    <h3>{{ product.name }}</a></h3>
    <p>{{ product.description }}</p>
    <a href="{% url 'products:list' %}">Volver</a>
{% endblock %}
