{% extends 'base.html' %}

{% block title %}
    Productos
{% endblock %}

{% block content %}
    <a href="{% url 'products:new_product' %}">New product</a>
    <ul>
        {% for pr in object_list %}
            <li>
                <img src="{{ pr.image.url }}" alt="{{ pr.name }}" />
                <h3><a href="{% url 'products:detail' pr.id  %}">{{ pr.name }}</a></h3>
                <p>{{ pr.description }}</p>
                
            </li>
        {% endfor %}
    </ul>
{% endblock %}